.page-selection {
    display: flexbox;
    justify-self: center;
}

.headshot-container {
    display: flex;
    justify-content: center;
}

.headshot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom:10px;
}